:root {
  font-family: "Poppins", serif;
  line-height: 1.5;
  font-weight: 200;
  font-style: normal;
  font-optical-sizing: auto;

  /* color pallete */
  --primary-color: #D32F2F;
  --primary-100:#d90429;
  --secondary-color:#1A4D8F;
  --secondary-100:#091e596e;
  --white:#ffffff;
  --black:#000000;
  --white-100:#F7F7F7;
  --text-100:#131C21;

}

body{
  width: 100%;
  margin: 0 auto; 
  padding: 0; 
  padding-top: 10%;
}